// Import Angular Material theming
@use '@angular/material' as mat;

// Define custom color palettes
$grey-palette: mat.define-palette(mat.$grey-palette, 700, 500, 900);
$bloodred-palette: mat.define-palette(mat.$red-palette, 900, 700, A700); // Deep red

// Define a custom theme with your colors
$custom-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $grey-palette,
    tertiary: $bloodred-palette,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply the custom theme globally
html {
  @include mat.theme($custom-theme);
}
